<h1>Editing Badge</h1>

<%= render 'form' %>

<%= link_to 'Show', @badge %> |
<%= link_to 'Back', badges_path %>

<%= form_for @badge, url: badges_path, html: { multipart: true } do |form| %>
  <%= form.file_field :badge_icon %>
<% end %>