<p id="notice"><%= notice %></p>


<div class="col-md-4 col-md-offset-4 text-center">
    <%= image_tag @badge.badge_icon, height: "300px" %>

        <h3><%= @badge.badgetitle %></h3>


<div id="description">
<p><%= @badge.description %></p></div>

 <div class="actions">
     
      <% @badge.activities.each do |activity| %>
      <tr>
        <strong> <%= activity.title %> </strong> <%= link_to 'Show', activity, class: "btn btn-default btn-block" %><br>
        
     <% end %>
    <!--<button type="button" class="btn-block">Activity 1</button>-->
    <!--<button type="button" class="btn-block">Activity 2</button>-->
    <!--<button type="button" class="btn-block">Activity 3</button>-->
</div>
    
