<p id="notice"> <%= notice %> </p>

<div class="col-md-4 col-md-offset-4 text-center">

  <%= image_tag 'flower activity icon.svg', height: '300px' %>

<h3><%= @activity.title %></h3>


  <p>
    <span class="glyphicon glyphicon-time"></span>
    <%= @activity.minutes %> minutes</p>

<p><%= @activity.description %></p>

<!--kids submit image, post to correct route -->

<%= form_for @activity, url: {:action => 'submission'},
             multipart: true, method: :post,
             html: {class: "form-inline center"} do |f| %>

  <%= f.file_field :submission, html: {accept: "image/*;capture=camera"} %><br><br>
  <%= f.submit %>

<% end %>



</div>