<p id="notice"><%= notice %></p>

<!--<h1>Progress</h1>-->

<p><%= @activity.title %></p>

<p>ACTIVITY LENGTH: <%= h @activity.minutes %></p>

<p><%= h @activity.description %></p>

<!--kids submit image, post to correct route -->

<%= link_to 'Back', activities_path %>
