<p id="notice"><%= notice %></p>

<h3><%= @activity.title %></h3>

<div class="col-md-4 col-md-offset-4 text-center">

<p><strong>ACTIVITY LENGTH:</strong> <%= h @activity.minutes %> minutes</p>

<p><%= @activity.description %></p>

<p><strong>CATEGORY:</strong> <em><%= @activity.kind %></em></p>

<!--kids submit image, post to correct route -->

<%= link_to 'Back', activities_path %>
