<h3>SIGN UP FOR YOUR ADVENTURE</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="border-form-div col-md-4 col-md-offset-4">
   
   <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: 'PARENT EMAIL', class: "form-control input-lg" %>
  </div>
  
    <div class="field">
        <%= f.text_field :childname, autofocus: true, placeholder: "CHILD'S NAME (FIRST & LAST)", class: "form-control input-lg" %>
  </div>
  
  
  <div class="field">
        <%= f.date_select :birthday, :order => [:month, :day, :year], :start_year => 1990, autofocus: true, placeholder: "BIRTHDAY", class: "form-control input-lg" %>
  </div>
  
  <div class="field">
   
    
    <%= f.password_field :password, autocomplete: "off", placeholder: "PASSWORD", class: "form-control input-lg" %> <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> CHARACTERS MINIMUM)</em> <% end %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "CONFIRM PASSWORD", class: "form-control input-lg" %>
  </div>

  <div class="actions">
    <%= f.submit "LET'S GO!", class: "btn-primary btn-block" %>
  </div>
<% end %>


</div>
